#nav-bar {
    position: relative;
    border-bottom: 2px solid #dddddd;
    height:60px;
    background-color: #ffffff;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 5px;
  }

  #menu {
    position: relative;
    left: 18%;
  }

  #jp-header {
    height: 60px;
    position: absolute;
    left: 0%;
    padding-top: 5px;
    padding-left: 2%;
    background-color: #4aaaa5;
    color: white;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 5px;
    width: 20%;
    
  }

 

  a {
    color: #777777;
    text-decoration: none;
  }
 
  a:hover {
    color: #4aaaa5;
  }
  

  #about {
    position: absolute;
    left: 35%;
    top: 10px;
    
  }

  
  #portfolio {
    position: absolute;
    left: 42%;
    top: 10px;
    
  }

  #contact {
    position: absolute;
    left: 50%;
    top: 10px;
    
  }

  body {
    background: #4aaaa5;
    margin: 0px;
    padding: 0px;
    background: url('../images/greek-vase.png');
  }

  #main-section {
    width: 960px;
    border: 1px solid #dddddd;
    margin-top: 40px;
    margin-bottom: 120px;
    margin-left: 18%;
    padding-left: 2%;
    padding-right: 2%;
    position: relative;
    background-color: #ffffff;
  }


  #title {
    border-bottom: 3px solid #dddddd;
    padding-top: 2%;
    padding-bottom: 1%;
    color: #4aaaa5;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    font-size: 20px;
    font-weight: bold;
  }

  article {
    padding-top: 2%;
    padding-bottom: 2%;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1.5;
    height: auto;
  }
 
  img {
    float: left;
    margin-right: 3%;
  }

  .clearfix::after {
    content: "";
    display: block;
    clear: both;

  }

  .port-img {
    float: left;
    margin: 20px;
  }

  form {
    line-height: 2;
  }

  .contact-form{
    width: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    font-size: 20px;
  }

  #name {
    height: 30px;
  }

  #email {
    height: 30px;
  }

  .button {
    background-color: #4aaaa5;
    border: none;
    border-radius: 15px;
    outline: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 9px #999;
  }

  .button:hover {
    background-color: #666666;
  }

  .button:active {
    background-color: #666666;
    color: white;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
  }

  .img-folio {
    position: relative;
  }

  .container {
    float: left;
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 10px;
  }
  
  .container img {
    width: 100%;
    height: auto;
  }
  
  .container .btn {
    position: absolute;
    top: 70%;
    left: 20px;
    background-color: #4aaaa5;
    border: none;
    outline: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    box-shadow: 0 9px #999;
    text-align: center;
    width: 300px;
    opacity: 0.8;
  }

  .container .btn:active {
    background-color: #666666;
    color: #999;
    box-shadow: 0 5px #999;
    transform: translateY(4px);
  }

  
  .container .btn:hover {
    background-color: #666666;
    color: white;
  }

  footer {
    border-top: 8px solid #4aaaa5;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0%;
    background-color: #666666;
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
  }

  #copy{
    position: absolute;
    top: 40%;
    left: 50%
  }



  @media only screen and (max-width: 960px) and (min-width: 640px) {

    #menu {
      left: 10%;
  
    }

    #about {
      left: 25%; 
    }
  
    
    #portfolio { 
      left: 45%;
    }
  
    #contact {
      left: 75%;
    }

      #main-section {
        
        width: 80%;
        margin-left: 10%;
      
      }
      
    
  }

  @media only screen and (max-width: 639px) {
   

    #menu {
      left: 2%;
    }

    #about {
      left: 25%; 
    }
  
    
    #portfolio { 
      left: 50%;
    }
  
    #contact {
      left: 80%;
    }

      #main-section {
       
        width: 96%;
        margin-left: 2%;
      }
      
    }